<center>
<img src="https://i.ytimg.com/vi/Mj6iOYPsgpE/maxresdefault.jpg" height="200" 
<center/>

<br>
Assignment 1 TU914/3
<br>
Name : Najla Alsafadi C20312866
<br>Lecture : Dr. Muhammed Atif Qureshi
<br>Module : Info Management for Data Science

# Task 1

***Why is Pandas useful and what is its information need in the real world?***

> **Pandas** is an open sourced libarary which gives the ability for high perfomance data manipulation. In simple terms, this means that the pandas library can allow users to move around, edit and make changes to create a customized data frame object. 

Main components of Pandas is dataFrame and series. Series is a column and dataFrame is like a 2D array/table of series 

It's benefit in real world use in fields such as analytics, finance and economics is huge. Providing them with the ability to analyse and process large datasets along with data manipulation and visualization to achieve desired results.

# Task 2
Pandas/ Data frame methods learned in class.

In [3]:
# Load the Pandas package to use in notebook
import pandas as pd

### 1. **DataFrame.from_dict()**: This alows to convert Dictionary to a DataFrame. You can also use index to add column names to the data frame.
I create a dictionary, convert it to a dataFrame and then add labels as index to the data.

In [14]:
# Dictionary to DataFrame
fnames = ['Bob', 'Harry', 'Monica', 'Phill']
lnames = ['Ross', 'Potter', 'Geller', 'Dunphy']
ages = [50, 16, 25, 40]
my_dict = {'First Name': fnames, 'Last Name': lnames, 'Age': ages}

df.from_dict(my_dict)

  First Name Last Name  Age
0        Bob      Ross   50
1      Harry    Potter   16
2     Monica    Geller   25
3      Phill    Dunphy   40

In [30]:
#indexing the column
people = df.from_dict(my_dict)
# insert lables into index
row_labels = ['Painter', 'Wizard', 'Friend', 'Dad']
people.index = row_labels

#use display() to show df instead of print in order to diplay as table format and not just text
display(people)

        First Name Last Name  Age
Painter        Bob      Ross   50
Wizard       Harry    Potter   16
Friend      Monica    Geller   25
Dad          Phill    Dunphy   40

### 2. **DataFrame.to_csv**: Writes data frame object into a csv (comma sperated value) file.This is useful for storing data broken down into rows and columns.

I will use the previous dataFrame(people) and save it as a csv file and then use **read_csv()** to read the file and display.

In [33]:
# write people df as csv
people.to_csv('people.csv') 

#read_csv file
#set index col as 0 in order to avoid unamed column of index each time the file is read
people = pd.read_csv('people.csv', index_col=0)
display(people)

        First Name Last Name  Age
Painter        Bob      Ross   50
Wizard       Harry    Potter   16
Friend      Monica    Geller   25
Dad          Phill    Dunphy   40

### 3. **DataFrame.iterrows()**: loops through rows of a dataFrame. Rows can be in index or series. I will demonstrate this by creating a for loop of the row data for a specific row as a parameter

In [35]:
for row_label, row in people.iterrows():
    
    display(row['First Name'])  # displaying only first name row

'Bob'

'Harry'

'Monica'

'Phill'

### 4. **iloc() and loc(**) : iloc(): locates by label and loc() locates by row number. Both are used to select data by indexing for a specific postion.

In [105]:
#loc for selcted row and column
display(people.loc[['Painter'], ['First Name']])

        First Name
Painter        Bob

In [110]:
#iloc for selected row and column
display(people.iloc[[1], [ 2]])

        Age
Wizard   16

### 5. **DataFrame.copy()**: Copies the index and data of an object in the dataFrame.
If set to **deep=false** then it will not use the data and index and if changes are created to the  original it will affect the copy

If set to **deep=true** then it will use the data and index and if changes are created to the  original it won't affect the copy

I add a row by copying an existing row by using **loc()** and making changes to the data. then comparing copied row and original row to see changes.

In [103]:
#create deep copy set to true
people_copy = people.copy(deep=True) 
display(people_copy)
for label, row in people_copy.iterrows() :
    people_copy.loc[label, "small"] = row["Last Name"].lower()  
display(people_copy) #copy has changes made to it
display(people) #orignal has no changes made

#I'm not sure why but The rersult is displaying changes when it should not be.

        First Name Last Name  Age   small   large
Painter        Bob      Ross   50    ross    ross
Wizard       Harry    Potter   16  potter  potter
Friend      Monica    Geller   25  geller  geller
Dad          Phill    Dunphy   40  dunphy  dunphy

        First Name Last Name  Age   small   large
Painter        Bob      Ross   50    ross    ross
Wizard       Harry    Potter   16  potter  potter
Friend      Monica    Geller   25  geller  geller
Dad          Phill    Dunphy   40  dunphy  dunphy

        First Name Last Name  Age   small   large
Painter        Bob      Ross   50    ross    ross
Wizard       Harry    Potter   16  potter  potter
Friend      Monica    Geller   25  geller  geller
Dad          Phill    Dunphy   40  dunphy  dunphy

In [102]:
#create deep copy set to false
people_copy = people.copy(deep=False) 
display(people_copy)
for label, row in people_copy.iterrows() :
    
    people.loc[label, "large"] = row["Last Name"].lower() 
display(people_copy) #copy has no changes made to it
display(people) #orignal has changes made

        First Name Last Name  Age   small   large
Painter        Bob      Ross   50    ross    ross
Wizard       Harry    Potter   16  potter  potter
Friend      Monica    Geller   25  geller  geller
Dad          Phill    Dunphy   40  dunphy  dunphy

        First Name Last Name  Age   small   large
Painter        Bob      Ross   50    ross    ross
Wizard       Harry    Potter   16  potter  potter
Friend      Monica    Geller   25  geller  geller
Dad          Phill    Dunphy   40  dunphy  dunphy

        First Name Last Name  Age   small   large
Painter        Bob      Ross   50    ross    ross
Wizard       Harry    Potter   16  potter  potter
Friend      Monica    Geller   25  geller  geller
Dad          Phill    Dunphy   40  dunphy  dunphy

# Task 3
Pandas/ Data frame methods learned outside of class

### 1.**DataFrame.abs()** : returns an object with its value without regards to its sign. i.e its absolute value. It only works with values that are all numberic. It is useful for finding values for complex numbers and help with computation and descriptive statistics

**References** : https://www.geeksforgeeks.org/python-pandas-dataframe-abs/

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.abs.html#pandas.DataFrame.abs

In [115]:
# Create a series
series = pd.Series([1.4 + 1j, 6 + 5j, 5.5 + 8j, 6.6 + 2j])
#print value
print(series)
 
# Print the absolute values of the complex numbers
absValue = series.abs()
print(absValue)

0    1.4+1.0j
1    6.0+5.0j
2    5.5+8.0j
3    6.6+2.0j
dtype: complex128
0    1.720465
1    7.810250
2    9.708244
3    6.896376
dtype: float64

### 2. **DataFrame.dropna()** : This function is useful for handling missing data. If a csv file has null values, this method can allow the user to drop them in order to avoid values being displayed as Nan

**References :** https://www.geeksforgeeks.org/python-pandas-dataframe-dropna/

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna

In [123]:
## downloaded csv from https://data.gov.ie/dataset/roa09-waiting-at-driver-testing-centres. as ROA09.CSV
# making data frame from csv file
data = pd.read_csv("ROA09.csv")
  
# use dropna method to update the dataFrame
update_data = data.dropna()
  
# comparing sizes of data frames
print("\nNumber of rows with at least 1 NAN value: ",
       (len(data)-len(update_data)))

Number of rows with at least 1 NAN value:  68

### 3. **DataFrame.explode()** This method is useful for reshaping a list inside a dataframe into multiple rows.

**References **: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.explode.html

In [142]:
dfExplode = pd.DataFrame(data={"Phones": ['Samsung', 'Iphone'], 
                        "Versions": [['Galaxy A22','Galaxy Z Fold' ,'Galaxy Z Flip'], ['12 Pro', '11', 'XR']]})

#regular display
print(dfExplode)

#explodes display  and creates a new index as it resizes, instead of the index being just 0 and 1 as it is in the original
dfExplode.explode("Versions", ignore_index = True)

    Phones                                    Versions
0  Samsung  [Galaxy A22, Galaxy Z Fold, Galaxy Z Flip]
1   Iphone                            [12 Pro, 11, XR]

    Phones       Versions
0  Samsung     Galaxy A22
1  Samsung  Galaxy Z Fold
2  Samsung  Galaxy Z Flip
3   Iphone         12 Pro
4   Iphone             11
5   Iphone             XR

### 4. **DataFrame.squeeze()** : This is another method that is useful for reshaping objects. It allows for transforming of a dataframe into a scalar. A scalar is a single value. Its useful for extracting data when it is unknown if the object is a series or DataFrame.

References : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.squeeze.html

In [151]:
dfSqueeze = pd.DataFrame(data={"a": [1, 2, 3],
                        "b": [6, 5, 7]})

# not using a squeeze method, it does the job but can cause issues for variable assigning
dfSqueeze.loc[dfSqueeze["a"] == 3, "b"]

2    7
Name: b, dtype: int64

In [153]:
dfSqueeze = pd.DataFrame(data={"a": [1, 2, 3],
                        "b": [6, 5, 7]})

# more elegant solution to the and efficient
dfSqueeze.loc[dfSqueeze["a"] == 3, "b"].squeeze()

7